Repository apache/knox, pull requests merged in 2020-03, with the labels that each got.

#280 KNOX-2265 - Checking CM configs by their related names and read hive.server2.use.SSL from the service configuration
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/model/AbstractServiceModelGenerator.java
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/model/hive/HiveServiceModelGenerator.java
  gateway-discovery-cm/src/test/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscoveryTest.java
Labels: ClouderaManager

#281 KNOX-2269 - The Knox Home page is available as a regular app via the homepage topology
  gateway-applications/pom.xml
  gateway-release/home/conf/topologies/homepage.xml
  gateway-release/pom.xml
  gateway-release/src/assembly.xml
  gateway-server/src/main/java/org/apache/knox/gateway/GatewayServer.java
  gateway-server/src/main/java/org/apache/knox/gateway/config/impl/GatewayConfigImpl.java
  gateway-server/src/test/java/org/apache/knox/gateway/GatewayGlobalConfigTest.java
  gateway-test/src/test/java/org/apache/knox/gateway/GatewayAppFuncTest.java
  gateway-test/src/test/java/org/apache/knox/gateway/GatewayDeployFuncTest.java
  knox-homepage-ui/angular-cli.json
  knox-homepage-ui/home/app/app.module.ts
  knox-homepage-ui/home/app/generalProxyInformation/general.proxy.information.component.html
  knox-homepage-ui/home/app/generalProxyInformation/general.proxy.information.component.ts
  knox-homepage-ui/home/app/generalProxyInformation/general.proxy.information.ts
  knox-homepage-ui/home/app/homepage.service.ts
  knox-homepage-ui/home/app/topologies/service.ts
  knox-homepage-ui/home/app/topologies/topology.information.component.html
  knox-homepage-ui/home/app/topologies/topology.information.component.ts
  knox-homepage-ui/home/app/topologies/topology.information.ts
  knox-homepage-ui/home/assets/.gitkeep
  knox-homepage-ui/home/assets/knox-logo-transparent.gif
  knox-homepage-ui/home/assets/sticky-footer.css
  knox-homepage-ui/home/environments/environment.prod.ts
  knox-homepage-ui/home/environments/environment.ts
  knox-homepage-ui/home/favicon.ico
  knox-homepage-ui/home/index.html
  knox-homepage-ui/home/main.ts
  knox-homepage-ui/home/polyfills.ts
  knox-homepage-ui/home/styles.css
  knox-homepage-ui/home/tsconfig.json
  knox-homepage-ui/pom.xml
  knox-homepage-ui/src/main/resources/home/service.xml
  knox-homepage-ui/src/main/webapp/%2F/WEB-INF/gateway.xml
  knox-homepage-ui/src/main/webapp/%2F/WEB-INF/web.xml
  knox-homepage-ui/src/main/webapp/%2Fhome/WEB-INF/gateway.xml
  knox-homepage-ui/src/main/webapp/%2Fhome/WEB-INF/web.xml
  pom.xml
Labels: homepage

#282 KNOX-2259 KNOX-2260 KNOX-2261 - Fixed Impala/Kudu/HBase UI context path in service metadata
  gateway-service-definitions/src/main/resources/services/hbaseui/2.1.0/service.xml
  gateway-service-definitions/src/main/resources/services/impalaui/1.0.0/service.xml
  gateway-service-definitions/src/main/resources/services/kuduui/1.0.0/service.xml
  gateway-service-metadata/src/main/java/org/apache/knox/gateway/service/metadata/KnoxMetadataResource.java
  gateway-service-metadata/src/main/java/org/apache/knox/gateway/service/metadata/ServiceModel.java
Labels: homepage

#287 KNOX-2286 Cleaner log messages about monitoring topologies/providers/descriptors
  gateway-server/src/main/java/org/apache/knox/gateway/GatewayMessages.java
  gateway-server/src/main/java/org/apache/knox/gateway/GatewayServer.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/topology/impl/DefaultTopologyService.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/topology/monitor/DescriptorsMonitor.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/topology/monitor/SharedProviderConfigMonitor.java
  gateway-server/src/test/java/org/apache/knox/gateway/services/topology/DefaultTopologyServiceTest.java
Labels: logging

#288 KNOX-2289 - Passing GatewayServer.getGatewayServices() to SimpleDescriptorHandler.handle() as it needs it to provision encryption query string password
  gateway-server/src/main/java/org/apache/knox/gateway/services/topology/impl/DefaultTopologyService.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/topology/monitor/DescriptorsMonitor.java
Labels: topology-generation

#289 KNOX-2295 - UI services improvement on Knox Home page
  knox-homepage-ui/home/app/app.module.ts
  knox-homepage-ui/home/app/topologies/topology.information.component.css
  knox-homepage-ui/home/app/topologies/topology.information.component.html
  knox-homepage-ui/home/app/topologies/topology.information.component.ts
  knox-homepage-ui/home/assets/service-logos/ambari.png
  knox-homepage-ui/home/assets/service-logos/ambariui.png
  knox-homepage-ui/home/assets/service-logos/ambariws.png
  knox-homepage-ui/home/assets/service-logos/atlas-api.png
  knox-homepage-ui/home/assets/service-logos/atlas.png
  knox-homepage-ui/home/assets/service-logos/avatica.png
  knox-homepage-ui/home/assets/service-logos/datanode.png
  knox-homepage-ui/home/assets/service-logos/druid-broker.png
  knox-homepage-ui/home/assets/service-logos/druid-coordinator-ui.png
  knox-homepage-ui/home/assets/service-logos/druid-coordinator.png
  knox-homepage-ui/home/assets/service-logos/druid-overlord-ui.png
  knox-homepage-ui/home/assets/service-logos/druid-overlord.png
  knox-homepage-ui/home/assets/service-logos/druid-router.png
  knox-homepage-ui/home/assets/service-logos/druid.png
  knox-homepage-ui/home/assets/service-logos/hbase.png
  knox-homepage-ui/home/assets/service-logos/hbaseui.png
  knox-homepage-ui/home/assets/service-logos/hdfsui.png
  knox-homepage-ui/home/assets/service-logos/hive.png
  knox-homepage-ui/home/assets/service-logos/hue.png
  knox-homepage-ui/home/assets/service-logos/impala.png
  knox-homepage-ui/home/assets/service-logos/impalaui.png
  knox-homepage-ui/home/assets/service-logos/jobhistoryui.png
  knox-homepage-ui/home/assets/service-logos/kafka.png
  knox-homepage-ui/home/assets/service-logos/kuduui.png
  knox-homepage-ui/home/assets/service-logos/livyserver.png
  knox-homepage-ui/home/assets/service-logos/logsearch.png
  knox-homepage-ui/home/assets/service-logos/nifi-registry.png
  knox-homepage-ui/home/assets/service-logos/nifi.png
  knox-homepage-ui/home/assets/service-logos/nodemanagerui.png
  knox-homepage-ui/home/assets/service-logos/oozie.png
  knox-homepage-ui/home/assets/service-logos/oozieui.png
  knox-homepage-ui/home/assets/service-logos/ranger.png
  knox-homepage-ui/home/assets/service-logos/rangerui.png
  knox-homepage-ui/home/assets/service-logos/resourcemanager.png
  knox-homepage-ui/home/assets/service-logos/solr.png
  knox-homepage-ui/home/assets/service-logos/spark3historyui.png
  knox-homepage-ui/home/assets/service-logos/sparkhistoryui.png
  knox-homepage-ui/home/assets/service-logos/storm-logviewer.png
  knox-homepage-ui/home/assets/service-logos/storm.png
  knox-homepage-ui/home/assets/service-logos/thriftserverui.png
  knox-homepage-ui/home/assets/service-logos/webhbase.png
  knox-homepage-ui/home/assets/service-logos/webhcat.png
  knox-homepage-ui/home/assets/service-logos/webhdfs.png
  knox-homepage-ui/home/assets/service-logos/yarnui.png
  knox-homepage-ui/home/assets/service-logos/yarnuiv2.png
  knox-homepage-ui/home/assets/service-logos/zeppelinui.png
  knox-homepage-ui/home/assets/service-logos/zeppelinws.png
  knox-homepage-ui/package-lock.json
  knox-homepage-ui/package.json
  pom.xml
Labels: homepage

#290 KNOX-2296 - Passing down the service URL field when building up a service model
  gateway-service-definitions/pom.xml
  gateway-service-definitions/src/main/java/org/apache/knox/gateway/service/definition/Metadata.java
  gateway-service-metadata/pom.xml
  gateway-service-metadata/src/main/java/org/apache/knox/gateway/service/metadata/KnoxMetadataResource.java
  gateway-service-metadata/src/main/java/org/apache/knox/gateway/service/metadata/ServiceModel.java
  gateway-service-metadata/src/main/java/org/apache/knox/gateway/service/metadata/TopologyInformation.java
  gateway-service-metadata/src/main/java/org/apache/knox/gateway/service/metadata/TopologyInformationWrapper.java
  gateway-service-metadata/src/test/java/org/apache/knox/gateway/service/metadata/ServiceModelTest.java
Labels: homepage

#293 KNOX-2299 - Fixed Hive JDBC URL on Knox Home page
  gateway-service-metadata/src/main/java/org/apache/knox/gateway/service/metadata/ServiceModel.java
  gateway-service-metadata/src/test/java/org/apache/knox/gateway/service/metadata/ServiceModelTest.java
Labels: homepage

#294 KNOX-2300 - Livy and Solr handled as both API and UI services
  gateway-service-definitions/src/main/resources/services/livy/0.4.0/service.xml
  gateway-service-definitions/src/main/resources/services/solr/5.5.0/service.xml
  gateway-service-definitions/src/main/resources/services/solr/6.0.0/service.xml
  gateway-service-metadata/src/main/java/org/apache/knox/gateway/service/metadata/KnoxMetadataResource.java
  gateway-service-metadata/src/main/java/org/apache/knox/gateway/service/metadata/ServiceModel.java
Labels: homepage

#292 KNOX-2287 KnoxCLI convert topology to provider and descriptor
  gateway-server/src/main/java/org/apache/knox/gateway/GatewayMessages.java
  gateway-server/src/main/java/org/apache/knox/gateway/model/DescriptorConfiguration.java
  gateway-server/src/main/java/org/apache/knox/gateway/model/ProviderConfiguration.java
  gateway-server/src/main/java/org/apache/knox/gateway/model/Topology.java
  gateway-server/src/main/java/org/apache/knox/gateway/util/KnoxCLI.java
  gateway-server/src/main/java/org/apache/knox/gateway/util/TopologyToDescriptor.java
  gateway-server/src/test/java/org/apache/knox/gateway/util/KnoxCLITest.java
  gateway-server/src/test/resources/token-test.xml
Labels: KnoxCLI
