Repository apache/knox, pull requests merged in 2020-02, with the labels that each got.

#249 KNOX-2213 - Service Discovery Support for CM UI, API
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscovery.java
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/model/cm/ClouderaManagerAPIServiceModelGenerator.java
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/model/cm/ClouderaManagerUIServiceModelGenerator.java
  gateway-discovery-cm/src/main/resources/META-INF/services/org.apache.knox.gateway.topology.discovery.cm.ServiceModelGenerator
  gateway-discovery-cm/src/test/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscoveryTest.java
Labels: ClouderaManager

#257 KNOX-2214 - Periodic job to evict expired tokens
  gateway-server/src/main/java/org/apache/knox/gateway/config/impl/GatewayConfigImpl.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/AliasBasedTokenStateService.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/DefaultTokenStateService.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/TokenStateServiceMessages.java
  gateway-server/src/test/java/org/apache/knox/gateway/services/token/impl/DefaultTokenStateServiceTest.java
  gateway-spi/src/main/java/org/apache/knox/gateway/config/GatewayConfig.java
  gateway-test-release-utils/src/main/java/org/apache/knox/gateway/GatewayTestConfig.java
Labels: enhancement

#265 KNOX-2161 - CM generated descriptors are read-only on Admin UI
  gateway-admin-ui/admin-ui/app/resource-detail/descriptor.ts
  gateway-admin-ui/admin-ui/app/resource-detail/resource-detail.component.html
  gateway-admin-ui/admin-ui/app/resource-detail/resource-detail.component.ts
  gateway-admin-ui/admin-ui/app/resource/resource.service.ts
  gateway-cm-integration/src/main/java/org/apache/knox/gateway/cm/descriptor/ClouderaManagerDescriptorParser.java
  gateway-cm-integration/src/test/java/org/apache/knox/gateway/cm/descriptor/ClouderaManagerDescriptorParserTest.java
  gateway-topology-simple/src/main/java/org/apache/knox/gateway/topology/simple/SimpleDescriptor.java
  gateway-topology-simple/src/main/java/org/apache/knox/gateway/topology/simple/SimpleDescriptorImpl.java
Labels: Admin UI, descriptor

#269 KNOX-2239 - Websocket use the configured truststore in gateway-site config file
  gateway-server/pom.xml
  gateway-server/src/main/java/org/apache/knox/gateway/websockets/GatewayWebsocketHandler.java
  gateway-server/src/main/java/org/apache/knox/gateway/websockets/ProxyWebSocketAdapter.java
  pom.xml
Labels: Websocket

#274 KNOX-2212 - Token permissiveness
  gateway-server/src/main/java/org/apache/knox/gateway/config/impl/GatewayConfigImpl.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/AliasBasedTokenStateService.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/DefaultTokenStateService.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/TokenStateServiceMessages.java
  gateway-server/src/test/java/org/apache/knox/gateway/services/token/impl/DefaultTokenStateServiceTest.java
  gateway-spi/src/main/java/org/apache/knox/gateway/config/GatewayConfig.java
  gateway-test-release-utils/src/main/java/org/apache/knox/gateway/GatewayTestConfig.java
Labels: knoxtoken
