Repository apache/knox, pull requests merged in 2020-04, with the labels that each got.

#305 KNOX-2317 - Open UI services from Knox Home page on new tabs
  knox-homepage-ui/home/app/topologies/topology.information.component.html
Labels: homepage

#304 KNOX-2315 - Fix zookeeper Kerberos Auth
  gateway-server/src/main/java/org/apache/knox/gateway/services/security/impl/ZookeeperRemoteAliasService.java
  gateway-server/src/test/java/org/apache/knox/gateway/service/config/remote/LocalFileSystemRemoteConfigurationRegistryClientService.java
  gateway-service-remoteconfig/pom.xml
  gateway-service-remoteconfig/src/main/java/org/apache/knox/gateway/service/config/remote/RemoteConfigurationRegistryConfig.java
  gateway-service-remoteconfig/src/main/java/org/apache/knox/gateway/service/config/remote/config/DefaultRemoteConfigurationRegistries.java
  gateway-service-remoteconfig/src/main/java/org/apache/knox/gateway/service/config/remote/config/RemoteConfigurationRegistry.java
  gateway-service-remoteconfig/src/main/java/org/apache/knox/gateway/service/config/remote/zk/CuratorClientService.java
  gateway-service-remoteconfig/src/main/java/org/apache/knox/gateway/service/config/remote/zk/RemoteConfigurationRegistryJAASConfig.java
  gateway-service-remoteconfig/src/main/java/org/apache/knox/gateway/service/config/remote/zk/ZooKeeperClientService.java
  gateway-service-remoteconfig/src/test/java/org/apache/knox/gateway/service/config/remote/zk/RemoteConfigurationRegistryJAASConfigTest.java
  gateway-spi/src/main/java/org/apache/knox/gateway/config/GatewayConfig.java
  gateway-spi/src/main/java/org/apache/knox/gateway/services/config/client/RemoteConfigurationRegistryClient.java
Labels: bug

#318 KNOX-2350 - Handling event types w/o COMMAND and/or COMMAND_STATUS attributes when polling CM events
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/monitor/PollingConfigurationAnalyzer.java
  gateway-discovery-cm/src/test/java/org/apache/knox/gateway/topology/discovery/cm/monitor/PollingConfigurationAnalyzerTest.java
Labels: ClouderaManager, service-discovery

#320 KNOX-2353 - Disabled CM descriptor monitoring and advanced service discovery changes monitoring by default
  gateway-cm-integration/src/main/java/org/apache/knox/gateway/ClouderaManagerIntegrationMessages.java
  gateway-cm-integration/src/main/java/org/apache/knox/gateway/cm/descriptor/ClouderaManagerDescriptorMonitor.java
  gateway-cm-integration/src/main/java/org/apache/knox/gateway/topology/discovery/advanced/AdvanceServiceDiscoveryConfigurationMessages.java
  gateway-cm-integration/src/main/java/org/apache/knox/gateway/topology/discovery/advanced/AdvancedServiceDiscoveryConfigurationMonitor.java
  gateway-server/src/main/java/org/apache/knox/gateway/config/impl/GatewayConfigImpl.java
Labels: descriptor, service-discovery, topology-generation

#324 KNOX-2351 - Catching any errors while monitoring CM configuration changes
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscoveryMessages.java
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/monitor/PollingConfigurationAnalyzer.java
Labels: ClouderaManager, service-discovery

#329 KNOX-2356 - Added a 50px high div before the footer to prevent overflow from resource detail panel
  gateway-admin-ui/admin-ui/index.html
Labels: Admin UI

#331 KNOX-2348 - Fix knoxcli when kerberos auth is used
  gateway-server/src/main/java/org/apache/knox/gateway/util/KnoxCLI.java
Labels: KnoxCLI
