Repository apache/knox, pull requests merged in 2021-09, with the labels that each got.

#490 KNOX-2658 - Skipping in-memory lookup while fetching expiration/metadata for a token
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/JDBCTokenStateService.java
  gateway-server/src/test/java/org/apache/knox/gateway/services/token/impl/JDBCTokenStateServiceTest.java
Labels: knoxtoken

#492 KNOX-2657 - Token generation page improvements:
  gateway-applications/src/main/resources/applications/tokengen/app/index.html
  gateway-applications/src/main/resources/applications/tokengen/app/js/tokengen.js
  gateway-spi/src/main/java/org/apache/knox/gateway/services/security/token/KnoxToken.java
  knox-token-management-ui/token-management/app/token.management.component.html
  knox-token-management-ui/token-management/app/token.management.component.ts
Labels: knoxtoken

#491 KNOX-2659 - Travis build failure: '/usr/bin/mvn': Operation not permitted.
  .travis.yml
Labels: Build, TravisCI

#493 KNOX-2662 - Added TLS certs into General Proxy Information for the token profile
  gateway-spi/src/main/java/org/apache/knox/gateway/dto/HomePageProfile.java
  gateway-spi/src/test/java/org/apache/knox/gateway/dto/HomePageProfileTest.java
Labels: homepage

#494 KNOX-2661 - Consolidated HTTP methods in TokenResource
  gateway-service-knoxtoken/src/main/java/org/apache/knox/gateway/service/knoxtoken/TokenResource.java
  knox-token-management-ui/token-management/app/token.management.service.ts
Labels: knoxtoken

#495 KNOX-2664 - Let end-users revoke their own tokens
  gateway-service-knoxtoken/src/main/java/org/apache/knox/gateway/service/knoxtoken/TokenResource.java
  gateway-service-knoxtoken/src/test/java/org/apache/knox/gateway/service/knoxtoken/TokenServiceResourceTest.java
Labels: knoxtoken

#501 KNOX-2670 - Deleting unnecessary removeToken override from AliasBasedTokenStateService
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/AliasBasedTokenStateService.java
Labels: knoxtoken
