Repository apache/knox, pull requests merged in 2022-01, with the labels that each got.

#516 KNOX-2690 - Service URLs are missing from Knox UI after a temporary discovery failure
  gateway-discovery-ambari/src/main/java/org/apache/knox/gateway/topology/discovery/ambari/AmbariServiceDiscovery.java
  gateway-discovery-ambari/src/test/java/org/apache/knox/gateway/topology/discovery/ambari/AmbariServiceDiscoveryTest.java
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscovery.java
  gateway-discovery-cm/src/test/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscoveryTest.java
  gateway-server/src/main/java/org/apache/knox/gateway/GatewayMessages.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/topology/monitor/DescriptorsMonitor.java
  gateway-server/src/test/java/org/apache/knox/gateway/topology/discovery/test/extension/DummyServiceDiscovery.java
  gateway-server/src/test/java/org/apache/knox/gateway/topology/discovery/test/extension/PropertiesFileServiceDiscovery.java
  gateway-server/src/test/java/org/apache/knox/gateway/topology/discovery/test/extension/SneakyServiceDiscoveryImpl.java
  gateway-server/src/test/java/org/apache/knox/gateway/topology/simple/SimpleDescriptorHandlerTest.java
  gateway-spi/src/main/java/org/apache/knox/gateway/topology/discovery/ServiceDiscovery.java
  gateway-test/src/test/java/org/apache/knox/gateway/SimpleDescriptorHandlerFuncTest.java
  gateway-topology-simple/src/main/java/org/apache/knox/gateway/topology/simple/DiscoveryException.java
  gateway-topology-simple/src/main/java/org/apache/knox/gateway/topology/simple/SimpleDescriptorHandler.java
  gateway-topology-simple/src/main/java/org/apache/knox/gateway/topology/simple/SimpleDescriptorMessages.java
Labels: service-discovery

#527 KNOX-2699 - Hide Enable/Disable button for expired tokens
  knox-token-management-ui/token-management/app/token.management.component.html
  knox-token-management-ui/token-management/app/token.management.component.ts
Labels: knoxtoken

#530 KNOX-2702 - Upgraded Log4J to 2.17.1
  pom.xml
Labels: logging, CVE

#531 KNOX-2693 - Redeploying a topology if it was changed regardless of its timestamp
  gateway-server/src/main/java/org/apache/knox/gateway/services/topology/impl/DefaultTopologyService.java
  gateway-server/src/test/java/org/apache/knox/gateway/services/topology/DefaultTopologyServiceTest.java
Labels: topology-generation

#532 KNOX-2703 - Configuring JWT type at creation/verification time
  gateway-provider-security-hadoopauth/src/test/java/org/apache/knox/gateway/hadoopauth/filter/HadoopAuthFilterTest.java
  gateway-provider-security-jwt/src/main/java/org/apache/knox/gateway/provider/federation/jwt/filter/AbstractJWTFilter.java
  gateway-provider-security-jwt/src/main/java/org/apache/knox/gateway/provider/federation/jwt/filter/JWTFederationFilter.java
  gateway-provider-security-jwt/src/test/java/org/apache/knox/gateway/provider/federation/AbstractJWTFilterTest.java
  gateway-release/home/conf/topologies/homepage.xml
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/DefaultTokenAuthorityService.java
  gateway-service-knoxsso/src/test/java/org/apache/knox/gateway/service/knoxsso/WebSSOResourceTest.java
  gateway-service-knoxtoken/src/main/java/org/apache/knox/gateway/service/knoxtoken/TokenResource.java
  gateway-service-knoxtoken/src/test/java/org/apache/knox/gateway/service/knoxtoken/TokenServiceResourceTest.java
  gateway-spi/src/main/java/org/apache/knox/gateway/services/security/token/JWTokenAttributes.java
  gateway-spi/src/main/java/org/apache/knox/gateway/services/security/token/JWTokenAttributesBuilder.java
  gateway-spi/src/main/java/org/apache/knox/gateway/services/security/token/JWTokenAuthority.java
  gateway-spi/src/main/java/org/apache/knox/gateway/services/security/token/impl/JWT.java
  gateway-spi/src/main/java/org/apache/knox/gateway/services/security/token/impl/JWTToken.java
  gateway-spi/src/test/java/org/apache/knox/gateway/services/security/token/impl/JWTTokenTest.java
Labels: knoxtoken, JWT

#533 KNOX-2680 - Introducing a central repository for CM service discovery configs
  gateway-discovery-ambari/src/main/java/org/apache/knox/gateway/topology/discovery/ambari/AmbariServiceDiscovery.java
  gateway-discovery-ambari/src/main/java/org/apache/knox/gateway/topology/discovery/ambari/AmbariServiceDiscoveryType.java
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscovery.java
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscoveryMessages.java
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscoveryRepository.java
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscoveryType.java
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/DiscoveryApiClient.java
  gateway-discovery-cm/src/test/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscoveryRepositoryTest.java
  gateway-discovery-cm/src/test/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscoveryTest.java
  gateway-server/src/main/java/org/apache/knox/gateway/config/impl/GatewayConfigImpl.java
  gateway-server/src/test/java/org/apache/knox/gateway/topology/discovery/test/extension/DummyServiceDiscovery.java
  gateway-server/src/test/java/org/apache/knox/gateway/topology/discovery/test/extension/DummyServiceDiscoveryType.java
  gateway-server/src/test/java/org/apache/knox/gateway/topology/discovery/test/extension/PropertiesFileServiceDiscovery.java
  gateway-server/src/test/java/org/apache/knox/gateway/topology/discovery/test/extension/PropertiesFileServiceDiscoveryType.java
  gateway-server/src/test/java/org/apache/knox/gateway/topology/discovery/test/extension/SneakyServiceDiscoveryImpl.java
  gateway-server/src/test/java/org/apache/knox/gateway/topology/discovery/test/extension/SneakyServiceDiscoveryType.java
  gateway-spi/src/main/java/org/apache/knox/gateway/config/GatewayConfig.java
  gateway-spi/src/main/java/org/apache/knox/gateway/topology/discovery/ServiceDiscovery.java
  gateway-spi/src/main/java/org/apache/knox/gateway/topology/discovery/ServiceDiscoveryFactory.java
  gateway-spi/src/main/java/org/apache/knox/gateway/topology/discovery/ServiceDiscoveryType.java
  gateway-test-release-utils/src/main/java/org/apache/knox/gateway/GatewayTestConfig.java
  gateway-test/src/test/java/org/apache/knox/gateway/SimpleDescriptorHandlerFuncTest.java
  gateway-topology-simple/src/main/java/org/apache/knox/gateway/topology/simple/SimpleDescriptorHandler.java
Labels: service-discovery
