Repository apache/knox, pull requests merged in 2022-09, with the labels that each got.

#632 KNOX-2804 - Escaping values in generated XML before trying to parse that XML using SAX
  gateway-server/src/test/java/org/apache/knox/gateway/topology/simple/SimpleDescriptorHandlerTest.java
  gateway-server/src/test/resources/conf-full/conf/descriptors/test-topology.json
  gateway-server/src/test/resources/conf-full/conf/shared-providers/test-providers.json
  gateway-topology-simple/pom.xml
  gateway-topology-simple/src/main/java/org/apache/knox/gateway/topology/simple/SimpleDescriptorHandler.java
Labels: topology-generation

#633 KNOX-2805 - getUserTokens honours different metadata values with the same name
  gateway-service-knoxtoken/src/main/java/org/apache/knox/gateway/service/knoxtoken/TokenResource.java
Labels: knoxtoken

#636 KNOX-2807 - Hive's SSL_ENABLED flag is processed on the service level with the correct service configuration name in CM
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/model/hive/HiveServiceModelGenerator.java
  gateway-discovery-cm/src/test/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscoveryTest.java
  gateway-discovery-cm/src/test/java/org/apache/knox/gateway/topology/discovery/cm/model/hive/HiveOnTezServiceModelGeneratorTest.java
  gateway-discovery-cm/src/test/java/org/apache/knox/gateway/topology/discovery/cm/model/hive/HiveServiceModelGeneratorTest.java
Labels: ClouderaManager, service-discovery

#634 KNOX-2806 - Implement a new DoS security provider
  gateway-provider-jersey/src/main/java/org/apache/knox/gateway/jersey/JerseyServiceDeploymentContributorBase.java
  gateway-provider-security-dos/pom.xml
  gateway-provider-security-dos/src/main/java/org/apache/knox/gateway/deploy/impl/DosFilterDeploymentContributor.java
  gateway-provider-security-dos/src/main/resources/META-INF/services/org.apache.knox.gateway.deploy.ProviderDeploymentContributor
  gateway-release/pom.xml
  gateway-server/src/main/java/org/apache/knox/gateway/config/impl/GatewayConfigImpl.java
  gateway-server/src/main/java/org/apache/knox/gateway/deploy/DeploymentFactory.java
  gateway-server/src/main/java/org/apache/knox/gateway/deploy/impl/ApplicationDeploymentContributor.java
  gateway-server/src/main/java/org/apache/knox/gateway/deploy/impl/ServiceDefinitionDeploymentContributor.java
  gateway-spi-common/src/main/java/org/apache/knox/gateway/GatewayTestConfig.java
  gateway-spi/src/main/java/org/apache/knox/gateway/config/GatewayConfig.java
  gateway-spi/src/main/java/org/apache/knox/gateway/deploy/ProviderDeploymentContributorBase.java
  gateway-spi/src/main/java/org/apache/knox/gateway/deploy/ServiceDeploymentContributorBase.java
  pom.xml
Labels: provider
