Repository apache/knox, pull requests merged in 2022-06, with the labels that each got.

#589 KNOX-2756 - Fixing NPE caused by null GatewayConfig
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscovery.java
Labels: Admin UI, service-discovery

#583 KNOX-2752 knoxcli should support batch alias creation
  gateway-server/src/main/java/org/apache/knox/gateway/util/KnoxCLI.java
  gateway-server/src/test/java/org/apache/knox/gateway/util/KnoxCLITest.java
Labels: KnoxCLI

#593 KNOX-2761 - Knox Token renew/revoke operations are now PUT/DELETE HTTP methods in KnoxShell too
  gateway-shell/src/main/java/org/apache/knox/gateway/shell/HttpDelete.java
  gateway-shell/src/main/java/org/apache/knox/gateway/shell/knox/token/AbstractTokenLifecycleRequest.java
  gateway-shell/src/main/java/org/apache/knox/gateway/shell/knox/token/Renew.java
  gateway-shell/src/main/java/org/apache/knox/gateway/shell/knox/token/Revoke.java
  gateway-shell/src/test/java/org/apache/knox/gateway/shell/knox/token/TokenTest.java
  pom.xml
Labels: knoxshell
