Repository apache/knox, pull requests merged in 2022-04, with the labels that each got.

#558 KNOX-2730 - Fix missing Correlation id in audit logs
  gateway-server/src/main/java/org/apache/knox/gateway/GatewayFilter.java
  gateway-server/src/main/java/org/apache/knox/gateway/GatewayServlet.java
  gateway-server/src/test/java/org/apache/knox/gateway/AuditLoggingTest.java
  gateway-server/src/test/java/org/apache/knox/gateway/GatewayFilterTest.java
Labels: logging

#559 KNOX-2733 - Support configurable value for saml.keyStoreType property in pac4j
  gateway-provider-security-pac4j/src/main/java/org/apache/knox/gateway/pac4j/Pac4jMessages.java
  gateway-provider-security-pac4j/src/main/java/org/apache/knox/gateway/pac4j/config/SAML2ClientConfigurationDecorator.java
  gateway-provider-security-pac4j/src/main/java/org/apache/knox/gateway/pac4j/filter/Pac4jDispatcherFilter.java
  gateway-provider-security-pac4j/src/test/java/org/apache/knox/gateway/pac4j/config/SAML2ClientConfigurationDecoratorTest.java
Labels: SSO

#561 KNOX-2735 Add support for group info inclusion in tokens to the KnoxShell client
  gateway-shell/src/main/java/org/apache/knox/gateway/shell/knox/token/Get.java
  gateway-shell/src/main/java/org/apache/knox/gateway/shell/knox/token/Token.java
  gateway-shell/src/test/java/org/apache/knox/gateway/shell/knox/token/TokenTest.java
Labels: knoxshell

#562 KNOX-2734 - Passcode token is optional in TokenResource's response
  gateway-applications/src/main/resources/applications/tokengen/app/js/tokengen.js
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/AbstractPersistentTokenStateService.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/AliasBasedTokenStateService.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/JDBCTokenStateService.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/JournalBasedTokenStateService.java
  gateway-server/src/test/java/org/apache/knox/gateway/services/token/impl/AliasBasedTokenStateServiceTest.java
  gateway-server/src/test/java/org/apache/knox/gateway/services/token/impl/JournalBasedTokenStateServiceTest.java
  gateway-service-knoxtoken/src/main/java/org/apache/knox/gateway/service/knoxtoken/TokenResource.java
  gateway-service-knoxtoken/src/test/java/org/apache/knox/gateway/service/knoxtoken/TokenServiceResourceTest.java
  gateway-spi/src/main/java/org/apache/knox/gateway/services/security/token/PersistentTokenStateService.java
Labels: knoxtoken

#563 KNOX-2737 - Make maxFormContentSize and maxFormKeys configurable in Knox's embedded Jetty server
  gateway-server/src/main/java/org/apache/knox/gateway/GatewayMessages.java
  gateway-server/src/main/java/org/apache/knox/gateway/GatewayServer.java
  gateway-server/src/main/java/org/apache/knox/gateway/config/impl/GatewayConfigImpl.java
  gateway-spi/src/main/java/org/apache/knox/gateway/config/GatewayConfig.java
  gateway-test-release-utils/src/main/java/org/apache/knox/gateway/GatewayTestConfig.java
Labels: configuration, Jetty

#567 KNOX-2738 On Fresh install JDBCTokenStateService initiation failed
  gateway-server/pom.xml
  gateway-server/src/main/java/org/apache/knox/gateway/util/JDBCUtils.java
  gateway-server/src/main/resources/createKnoxTokenDatabaseTable.sql
  gateway-server/src/main/resources/createKnoxTokenMetadataDatabaseTable.sql
  gateway-server/src/test/java/org/apache/knox/gateway/services/token/impl/JDBCTokenStateServiceTest.java
  pom.xml
Labels: knoxtoken
