Repository apache/knox, pull requests merged in 2023-01, with the labels that each got.

#706 KNOX-2860 - Build the knox-webshell-ui project the same way as we build other UIs
  knox-webshell-ui/angular.json
  knox-webshell-ui/package.json
Labels: webshell

#718 KNOX-2841 Oozie "root" rewrite rule's pattern is too open
  gateway-service-definitions/src/main/resources/services/oozie/5.0.0/rewrite.xml
  gateway-service-definitions/src/main/resources/services/oozie/5.0.0/service.xml
Labels: rewrite-rules

#717 KNOX-2864 - TLS cipher suites and protocols are configured for CM service discovery
  gateway-discovery-ambari/src/main/java/org/apache/knox/gateway/topology/discovery/ambari/RESTInvoker.java
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscovery.java
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/DiscoveryApiClient.java
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/monitor/ClouderaManagerClusterConfigurationMonitor.java
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/monitor/PollingConfigurationAnalyzer.java
  gateway-discovery-cm/src/test/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscoveryTest.java
  gateway-discovery-cm/src/test/java/org/apache/knox/gateway/topology/discovery/cm/monitor/PollingConfigurationAnalyzerTest.java
  gateway-server/src/main/java/org/apache/knox/gateway/config/impl/GatewayConfigImpl.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/security/impl/JettySSLService.java
  gateway-server/src/test/java/org/apache/knox/gateway/services/security/impl/JettySSLServiceTest.java
  gateway-spi-common/src/main/java/org/apache/knox/gateway/GatewayTestConfig.java
  gateway-spi/src/main/java/org/apache/knox/gateway/config/GatewayConfig.java
  gateway-spi/src/main/java/org/apache/knox/gateway/util/TruststoreSSLContextUtils.java
Labels: service-discovery, Jetty, SSL

#719 KNOX-2865 - Accessing parameters of a x-www-form-urlencoded request consumes the request body
  gateway-server/src/main/java/org/apache/knox/gateway/GatewayFilter.java
  gateway-server/src/main/java/org/apache/knox/gateway/GatewayMessages.java
  gateway-server/src/main/java/org/apache/knox/gateway/UrlEncodedFormRequest.java
  gateway-server/src/test/java/org/apache/knox/gateway/UrlEncodedFormRequestTest.java
Labels: bug
