Repository apache/knox, pull requests merged in 2023-06, with the labels that each got.

#758 KNOX-2909 - Ignoring CORE_SETTINGS CM service discovery
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscovery.java
Labels: ClouderaManager, service-discovery

#760 KNOX-2915 - Descriptors are reloaded before topology redeployment at startup
  gateway-server/src/main/java/org/apache/knox/gateway/GatewayMessages.java
  gateway-server/src/main/java/org/apache/knox/gateway/GatewayServer.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/topology/impl/DefaultTopologyService.java
  gateway-spi/src/main/java/org/apache/knox/gateway/services/topology/TopologyService.java
Labels: topology-generation, descriptor, HadoopAuth

#761 KNOX-2915 - We need reloadDescriptors() when starting the monitors
  gateway-server/src/main/java/org/apache/knox/gateway/services/topology/impl/DefaultTopologyService.java
Labels: ClouderaManager, service-discovery

#765 KNOX-2914 - Ozone HttpFS integration for Apache Knox
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/model/ozone/OzoneHttpfsServiceModelGenerator.java
  gateway-discovery-cm/src/main/resources/META-INF/services/org.apache.knox.gateway.topology.discovery.cm.ServiceModelGenerator
  gateway-discovery-cm/src/test/java/org/apache/knox/gateway/topology/discovery/cm/model/ozone/OzoneHttpfsServiceModelGeneratorTest.java
  gateway-service-definitions/src/main/resources/services/ozone-httpfs/1.4.0/rewrite.xml
  gateway-service-definitions/src/main/resources/services/ozone-httpfs/1.4.0/service.xml
Labels: service-definition
