Repository apache/knox, pull requests merged in 2023-11, with the labels that each got.

#816 KNOX-2980 - Applying word wrapping in various columns that can have 'long' content.
  knox-token-management-ui/token-management/app/token.management.component.html
Labels: knoxtoken, javascript, angular

#818 KNOX-2985 - Introduced KNOXTOKEN API v2 and deprecated v1 methods
  gateway-service-knoxtoken/src/main/java/org/apache/knox/gateway/service/knoxtoken/TokenResource.java
  gateway-service-knoxtoken/src/main/java/org/apache/knox/gateway/service/knoxtoken/TokenResourceV2.java
  knox-token-generation-ui/token-generation/app/token-generation.service.ts
  knox-token-management-ui/token-management/app/token.management.service.ts
Labels: knoxtoken, REST

#817 KNOX-2983 - Combine the functionality of different identity assertion providers
  gateway-provider-identity-assertion-common/src/main/java/org/apache/knox/gateway/IdentityAsserterMessages.java
  gateway-provider-identity-assertion-common/src/main/java/org/apache/knox/gateway/identityasserter/common/filter/CommonIdentityAssertionFilter.java
  gateway-provider-identity-assertion-common/src/main/java/org/apache/knox/gateway/identityasserter/common/filter/VirtualGroupMapper.java
  gateway-provider-identity-assertion-common/src/test/java/org/apache/knox/gateway/identityasserter/common/filter/CommonIdentityAssertionFilterTest.java
  gateway-provider-identity-assertion-regex/pom.xml
  gateway-util-common/src/main/java/org/apache/knox/gateway/identityasserter/regex/filter/RegexTemplate.java
  gateway-util-common/src/main/java/org/apache/knox/gateway/plang/Arity.java
  gateway-util-common/src/main/java/org/apache/knox/gateway/plang/Interpreter.java
  gateway-util-common/src/test/java/org/apache/knox/gateway/plang/InterpreterTest.java
Labels: identity-assertion

#825 KNOX-2992 - Cleaned up impersonation configs
  gateway-release/home/conf/topologies/homepage.xml
Labels: configuration
