Repository apache/knox, pull requests merged in 2024-03, with the labels that each got.

#874 KNOX-3013 - Knox redirecting Yarn Node Manager URLs to http instead of https
  gateway-service-definitions/src/main/resources/services/yarnui/2.7.0/rewrite.xml
Labels: service-definition

#877 KNOX-3017 - Avoid showing lifetime adjustment popup when TTL is set to -1
  knox-token-generation-ui/token-generation/app/token-generation.component.html
  knox-token-generation-ui/token-generation/app/token-generation.service.ts
Labels: knoxtoken, angular

#878 KNOX-3018 - Tokens that never expire should not be evicted automatically and their expiration should be displayed properly
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/DefaultTokenStateService.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/TokenStateDatabase.java
  gateway-server/src/test/java/org/apache/knox/gateway/services/token/impl/JDBCTokenStateServiceTest.java
  gateway-spi/src/main/java/org/apache/knox/gateway/services/security/token/KnoxToken.java
  knox-token-generation-ui/token-generation/app/token-generation.service.ts
  knox-token-management-ui/token-management/app/token.management.component.ts
Labels: knoxtoken, angular

#880 KNOX-3019 - Allow token renewal without upper bound for non-expired tokens
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/DefaultTokenStateService.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/JDBCTokenStateService.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/TokenStateDatabase.java
  gateway-server/src/test/java/org/apache/knox/gateway/services/token/impl/JDBCTokenStateServiceTest.java
  gateway-service-knoxtoken/src/main/java/org/apache/knox/gateway/service/knoxtoken/TokenResource.java
  gateway-service-knoxtoken/src/test/java/org/apache/knox/gateway/service/knoxtoken/TokenServiceResourceTest.java
  gateway-spi/src/main/java/org/apache/knox/gateway/services/security/token/KnoxToken.java
Labels: knoxtoken

#881 KNOX-3020 - Introducing the 'type' metadata for Knox Tokens
  gateway-provider-security-jwt/src/main/java/org/apache/knox/gateway/provider/federation/jwt/filter/AbstractJWTFilter.java
  gateway-service-knoxsso/src/main/java/org/apache/knox/gateway/service/knoxsso/WebSSOResource.java
  gateway-service-knoxtoken/src/test/java/org/apache/knox/gateway/service/knoxtoken/TokenServiceResourceTest.java
  gateway-spi/src/main/java/org/apache/knox/gateway/services/security/token/TokenMetadata.java
  gateway-spi/src/main/java/org/apache/knox/gateway/services/security/token/TokenMetadataType.java
  knox-token-management-ui/token-management/app/metadata.ts
  knox-token-management-ui/token-management/app/token.management.component.html
  knox-token-management-ui/token-management/app/token.management.component.ts
  knox-token-management-ui/token-management/assets/CLIENT_ID.png
  knox-token-management-ui/token-management/assets/JWT.png
  knox-token-management-ui/token-management/assets/KNOXSSO_COOKIE.png
Labels: knoxtoken

#890 KNOX-3022 - Handling the case when previously persisted CM cluster config file is empty
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscoveryMessages.java
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/monitor/ClusterConfigurationFileStore.java
  gateway-discovery-cm/src/test/java/org/apache/knox/gateway/topology/discovery/cm/monitor/ClusterConfigurationFileStoreTest.java
Labels: ClouderaManager, service-discovery

#891 KNOX-3024 - Fixed Java finding issues
  gateway-release-common/home/bin/knox-functions.sh
  gateway-release/home/bin/gateway.sh
  gateway-release/home/bin/knoxcli.sh
  gateway-release/home/bin/ldap.sh
Labels: KnoxCLI, bash

#893 KNOX-3026 - End-users can exclude certain services or roles from CM service discovery
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscovery.java
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscoveryMessages.java
  gateway-discovery-cm/src/test/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscoveryTest.java
  gateway-server/src/main/java/org/apache/knox/gateway/config/impl/GatewayConfigImpl.java
  gateway-spi-common/src/main/java/org/apache/knox/gateway/GatewayTestConfig.java
  gateway-spi/src/main/java/org/apache/knox/gateway/config/GatewayConfig.java
Labels: service-discovery
