Repository apache/knox, pull requests merged in 2024-11, with the labels that each got.

#948 KNOX-3072: Fix for GatewayBasicFuncTest.testEncodedForwardSlash fail
  gateway-provider-security-shiro/src/main/java/org/apache/knox/gateway/deploy/impl/ShiroConfig.java
Labels: Shiro

#947 KNOX-3065: SSE support for Knox
  gateway-spi/pom.xml
  gateway-spi/src/main/java/org/apache/knox/gateway/SpiGatewayMessages.java
  gateway-spi/src/main/java/org/apache/knox/gateway/dispatch/DefaultHttpAsyncClientFactory.java
  gateway-spi/src/main/java/org/apache/knox/gateway/dispatch/DefaultHttpClientFactory.java
  gateway-spi/src/main/java/org/apache/knox/gateway/dispatch/GatewayDispatchFilter.java
  gateway-spi/src/main/java/org/apache/knox/gateway/dispatch/HttpAsyncClientFactory.java
  gateway-spi/src/main/java/org/apache/knox/gateway/sse/SSEDispatch.java
  gateway-spi/src/main/java/org/apache/knox/gateway/sse/SSEEntity.java
  gateway-spi/src/main/java/org/apache/knox/gateway/sse/SSEException.java
  gateway-spi/src/main/java/org/apache/knox/gateway/sse/SSEResponse.java
  gateway-spi/src/main/java/org/apache/knox/gateway/sse/SSEvent.java
  gateway-spi/src/test/java/org/apache/knox/gateway/dispatch/DefaultHttpAsyncClientFactoryTest.java
  gateway-spi/src/test/java/org/apache/knox/gateway/sse/SSEDispatchTest.java
  gateway-spi/src/test/java/org/apache/knox/gateway/sse/SSEEntityTest.java
  gateway-spi/src/test/java/org/apache/knox/gateway/sse/SSEventTest.java
  pom.xml
Labels: dispatch, SSE

#956 KNOX-3074: Add hbase ui service config and rewrite rules for jsp pages missing in HBase v2.5.10
  gateway-service-definitions/src/main/resources/services/hbaseui/2.5.10/rewrite.xml
  gateway-service-definitions/src/main/resources/services/hbaseui/2.5.10/service.xml
Labels: service-definition

#970 KNOX-3075 - Handling unlimited token expiration in JDBC TSS properly
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/JDBCTokenStateService.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/TokenStateDatabase.java
  gateway-server/src/test/java/org/apache/knox/gateway/services/token/impl/JDBCTokenStateServiceTest.java
Labels: knoxtoken, JDBC
