Repository apache/knox, pull requests merged in 2024-02, with the labels that each got.

#826 KNOX-2990 - Using DerbyDatabaseTSS instead of AliasBasedTSS by default
  gateway-server/pom.xml
  gateway-server/src/main/java/org/apache/knox/gateway/config/impl/GatewayConfigImpl.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/CLIGatewayServices.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/factory/TokenStateServiceFactory.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/AliasBasedTokenStateService.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/DefaultTokenStateService.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/DerbyDBTokenStateService.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/JDBCTokenStateService.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/JournalBasedTokenStateService.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/TokenStateServiceMessages.java
  gateway-server/src/main/java/org/apache/knox/gateway/services/token/impl/ZookeeperTokenStateService.java
  gateway-server/src/main/java/org/apache/knox/gateway/util/JDBCUtils.java
  gateway-server/src/main/java/org/apache/knox/gateway/util/KnoxCLI.java
  gateway-server/src/main/java/org/apache/knox/gateway/util/TokenMigrationTool.java
  gateway-server/src/test/java/org/apache/knox/gateway/services/factory/ServiceFactoryTest.java
  gateway-server/src/test/java/org/apache/knox/gateway/services/factory/TokenStateServiceFactoryTest.java
  gateway-server/src/test/java/org/apache/knox/gateway/util/JDBCUtilsTest.java
  gateway-server/src/test/java/org/apache/knox/gateway/util/KnoxCLITest.java
  gateway-service-knoxtoken/src/main/java/org/apache/knox/gateway/service/knoxtoken/TokenResource.java
  gateway-spi-common/src/main/java/org/apache/knox/gateway/GatewayTestConfig.java
  gateway-spi/src/main/java/org/apache/knox/gateway/config/GatewayConfig.java
  gateway-spi/src/main/java/org/apache/knox/gateway/services/security/impl/CMFMasterService.java
  gateway-spi/src/main/java/org/apache/knox/gateway/services/security/token/TokenMigrationTarget.java
  gateway-spi/src/main/java/org/apache/knox/gateway/util/FileUtils.java
  gateway-test-release/pom.xml
  gateway-test-release/webhdfs-kerb-test/pom.xml
  gateway-test-release/webhdfs-test/pom.xml
  gateway-test/pom.xml
  gateway-test/src/test/java/org/apache/knox/gateway/GatewayBasicFuncTest.java
  knox-token-generation-ui/token-generation/app/token-generation.component.ts
  pom.xml
Labels: knoxtoken, KnoxCLI

#838 KNOX-3003 - Services with more than one serviceUrl metadata are grouped on the Knox Home page
  gateway-service-metadata/src/main/java/org/apache/knox/gateway/service/metadata/KnoxMetadataResource.java
  gateway-service-metadata/src/main/java/org/apache/knox/gateway/service/metadata/ServiceModel.java
  gateway-service-metadata/src/test/java/org/apache/knox/gateway/service/metadata/ServiceModelTest.java
  knox-homepage-ui/home/app/topologies/service.ts
  knox-homepage-ui/home/app/topologies/topology.information.component.css
  knox-homepage-ui/home/app/topologies/topology.information.component.html
  knox-homepage-ui/home/app/topologies/topology.information.component.ts
Labels: homepage, javascript, angular

#839 KNOX-3005 - Implemented KnoxSSO idle timeout
  gateway-provider-security-jwt/src/main/java/org/apache/knox/gateway/provider/federation/jwt/JWTMessages.java
  gateway-provider-security-jwt/src/main/java/org/apache/knox/gateway/provider/federation/jwt/filter/AbstractJWTFilter.java
  gateway-provider-security-jwt/src/main/java/org/apache/knox/gateway/provider/federation/jwt/filter/SSOCookieFederationFilter.java
  gateway-provider-security-jwt/src/test/java/org/apache/knox/gateway/provider/federation/AbstractJWTFilterTest.java
  gateway-provider-security-jwt/src/test/java/org/apache/knox/gateway/provider/federation/SSOCookieProviderTest.java
  gateway-provider-security-jwt/src/test/java/org/apache/knox/gateway/provider/federation/TestFilterConfig.java
  gateway-service-knoxsso/src/main/java/org/apache/knox/gateway/service/knoxsso/WebSSOResource.java
  gateway-spi/src/main/java/org/apache/knox/gateway/services/security/token/TokenMetadata.java
Labels: SSO

#835 KNOX-3002 - KnoxCLI command for generating descriptor for a role type from a list of hosts
  gateway-server/src/main/java/org/apache/knox/gateway/util/DescriptorGenerator.java
  gateway-server/src/main/java/org/apache/knox/gateway/util/KnoxCLI.java
  gateway-server/src/main/java/org/apache/knox/gateway/util/ServiceUrls.java
  gateway-server/src/test/java/org/apache/knox/gateway/util/DescriptorGeneratorTest.java
Labels: KnoxCLI

#842 KNOX-3008 - Displaying hostname and custom banner text on the Knox Home page and other UIs
  gateway-admin-ui/admin-ui/app/app.module.ts
  gateway-admin-ui/admin-ui/app/sessionInformation/session.information.component.html
  gateway-admin-ui/admin-ui/app/sessionInformation/session.information.component.ts
  gateway-admin-ui/admin-ui/app/sessionInformation/session.information.ts
  gateway-release/home/conf/topologies/manager.xml
  gateway-server/src/main/java/org/apache/knox/gateway/config/impl/GatewayConfigImpl.java
  gateway-service-metadata/pom.xml
  gateway-service-metadata/src/main/java/org/apache/knox/gateway/service/metadata/GeneralProxyInformation.java
  gateway-service-metadata/src/main/java/org/apache/knox/gateway/service/metadata/KnoxMetadataResource.java
  gateway-service-session/src/main/java/org/apache/knox/gateway/service/session/SessionInformation.java
  gateway-service-session/src/main/java/org/apache/knox/gateway/service/session/SessionResource.java
  gateway-spi-common/src/main/java/org/apache/knox/gateway/GatewayTestConfig.java
  gateway-spi/src/main/java/org/apache/knox/gateway/config/GatewayConfig.java
  gateway-spi/src/main/java/org/apache/knox/gateway/dto/HomePageProfile.java
  gateway-spi/src/test/java/org/apache/knox/gateway/dto/HomePageProfileTest.java
  knox-homepage-ui/home/app/app.module.ts
  knox-homepage-ui/home/app/generalProxyInformation/general.proxy.information.component.html
  knox-homepage-ui/home/app/generalProxyInformation/general.proxy.information.component.ts
  knox-homepage-ui/home/app/generalProxyInformation/general.proxy.information.ts
  knox-homepage-ui/home/app/sessionInformation/session.information.component.html
  knox-homepage-ui/home/app/sessionInformation/session.information.component.ts
  knox-homepage-ui/home/app/sessionInformation/session.information.ts
  knox-token-generation-ui/token-generation/app/app.module.ts
  knox-token-generation-ui/token-generation/app/session.information.component.html
  knox-token-generation-ui/token-generation/app/session.information.component.ts
  knox-token-generation-ui/token-generation/app/token-generation.models.ts
  knox-token-management-ui/token-management/app/app.module.ts
  knox-token-management-ui/token-management/app/session.information.component.html
  knox-token-management-ui/token-management/app/session.information.component.ts
  knox-token-management-ui/token-management/app/session.information.ts
  pom.xml
Labels: homepage, Admin UI, angular

#861 KNOX-3011 - Excluded logback-[core|classic] as transitive dependencies pulled in by Zookeeper
  pom.xml
Labels: dependencies, Maven
