Repository apache/knox, pull requests merged in 2024-01, with the labels that each got.

#831 KNOX-2994 - PollingConfigurationAnalyzer starts after the Knox GW is up and running
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscoveryMessages.java
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/monitor/PollingConfigurationAnalyzer.java
  gateway-discovery-cm/src/test/java/org/apache/knox/gateway/topology/discovery/cm/monitor/PollingConfigurationAnalyzerTest.java
Labels: ClouderaManager, service-discovery

#834 KNOX-3001 - Avoid double XML-escaping during topology persistence from descriptors
  gateway-server/src/test/java/org/apache/knox/gateway/topology/simple/SimpleDescriptorHandlerTest.java
  gateway-server/src/test/resources/conf-full/conf/shared-providers/test-providers.json
  gateway-topology-simple/src/main/java/org/apache/knox/gateway/topology/simple/SimpleDescriptorHandler.java
Labels: topology-generation, descriptor, provider

#833 KNOX-3000 - Add configurable socket / read timeout parameter to discovery client
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/ClouderaManagerServiceDiscoveryMessages.java
  gateway-discovery-cm/src/main/java/org/apache/knox/gateway/topology/discovery/cm/DiscoveryApiClient.java
  gateway-server/src/main/java/org/apache/knox/gateway/config/impl/GatewayConfigImpl.java
  gateway-spi-common/src/main/java/org/apache/knox/gateway/GatewayTestConfig.java
  gateway-spi/src/main/java/org/apache/knox/gateway/config/GatewayConfig.java
Labels: service-discovery

#837 KNOX-3004 - Building a valid JDBC URL for Impala
  gateway-service-metadata/src/main/java/org/apache/knox/gateway/service/metadata/ServiceModel.java
  gateway-service-metadata/src/test/java/org/apache/knox/gateway/service/metadata/ServiceModelTest.java
Labels: homepage
