Repository apache/knox, pull requests merged in 2025-05, with the labels that each got.

#1036 KNOX-3060 - Fix an issue with JsonUtilsTest.testRenderAsJsonStringWithDateFormat which can fail due to clock skew
  gateway-util-common/src/test/java/org/apache/knox/gateway/util/JsonUtilsTest.java
Labels: unitTest

#1039 KNOX-3145 - Ensure Client Credentials flow client_secret belongs to t…
  gateway-provider-security-jwt/src/main/java/org/apache/knox/gateway/provider/federation/jwt/filter/JWTFederationFilter.java
  gateway-provider-security-jwt/src/test/java/org/apache/knox/gateway/provider/federation/ClientIdAndClientSecretFederationFilterTest.java
Labels: OAuth

#1042 KNOX-3148: Make SameSite configurable for pac4j session cookies
  gateway-provider-security-pac4j/src/main/java/org/apache/knox/gateway/pac4j/filter/Pac4jDispatcherFilter.java
  gateway-provider-security-pac4j/src/main/java/org/apache/knox/gateway/pac4j/session/KnoxSessionStore.java
  gateway-provider-security-pac4j/src/test/java/org/apache/knox/gateway/pac4j/MockHttpServletResponse.java
  gateway-provider-security-pac4j/src/test/java/org/apache/knox/gateway/pac4j/Pac4jProviderTest.java
  gateway-provider-security-pac4j/src/test/java/org/apache/knox/gateway/pac4j/filter/Pac4jDispatcherFilterTest.java
  gateway-provider-security-pac4j/src/test/java/org/apache/knox/gateway/pac4j/session/KnoxSessionStoreTest.java
  gateway-service-knoxsso/src/main/java/org/apache/knox/gateway/service/knoxsso/WebSSOResource.java
  gateway-util-common/src/main/java/org/apache/knox/gateway/util/SetCookieHeader.java
  gateway-util-common/src/test/java/org/apache/knox/gateway/util/SetCookieHeaderTest.java
Labels: authentication, pac4j

#1046 KNOX-3151: Refactored the test websocketclient awaitClose method, fix…
  gateway-server/src/main/java/org/apache/knox/gateway/websockets/ProxyWebSocketAdapter.java
  gateway-server/src/test/java/org/apache/knox/gateway/websockets/BadBackendTest.java
  gateway-server/src/test/java/org/apache/knox/gateway/websockets/BadUrlTest.java
  gateway-server/src/test/java/org/apache/knox/gateway/websockets/MessageFailureTest.java
  gateway-server/src/test/java/org/apache/knox/gateway/websockets/WebsocketClient.java
Labels: Websocket, Testing

#1047 KNOX-3152: Fixed pinot service xml format issue
  gateway-service-definitions/src/main/resources/services/pinot/1.3.0/rewrite.xml
  gateway-service-definitions/src/main/resources/services/pinot/1.3.0/service.xml
Labels: service-definition
