Repository apache/knox, pull requests merged in 2025-04, with the labels that each got.

#1010 KNOX-3115: HA Dispatch for SSE
  gateway-provider-ha/src/main/java/org/apache/knox/gateway/ha/dispatch/ConfigurableHADispatch.java
  gateway-provider-ha/src/main/java/org/apache/knox/gateway/ha/dispatch/LBHaDispatch.java
  gateway-provider-ha/src/main/java/org/apache/knox/gateway/ha/dispatch/SSEHaDispatch.java
  gateway-provider-ha/src/test/java/org/apache/knox/gateway/ha/dispatch/SSEHaDispatchTest.java
  gateway-spi/src/main/java/org/apache/knox/gateway/sse/SSEDispatch.java
  gateway-spi/src/main/java/org/apache/knox/gateway/sse/SSEEntity.java
  gateway-spi/src/main/java/org/apache/knox/gateway/sse/SSEvent.java
  gateway-spi/src/test/java/org/apache/knox/gateway/sse/SSEDispatchTest.java
  gateway-spi/src/test/java/org/apache/knox/gateway/sse/SSEEntityTest.java
  gateway-spi/src/test/java/org/apache/knox/gateway/sse/SSEventTest.java
Labels: HA, SSE

#1021 KNOX-3124 - Add Security Header filter to WebAppSec Provider
  gateway-provider-security-webappsec/src/main/java/org/apache/knox/gateway/webappsec/deploy/WebAppSecContributor.java
  gateway-provider-security-webappsec/src/main/java/org/apache/knox/gateway/webappsec/filter/SecurityHeaderFilter.java
  gateway-provider-security-webappsec/src/test/java/org/apache/knox/gateway/webappsec/SecurityHeaderFilterTest.java
Labels: webappsec

#1034 KNOX-3139: Add Support for Apache Pinot Integration in Knox
  gateway-service-definitions/src/main/resources/services/pinot/1.3.0/rewrite.xml
  gateway-service-definitions/src/main/resources/services/pinot/1.3.0/service.xml
  knox-homepage-ui/home/assets/service-logos/pinot.png
Labels: service-definition
